<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul class="topnav">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to 'New Post', new_post_path %></li>
        <li><%= link_to 'All Posts', posts_path %></li>
        <% if user_signed_in? %>
        <li class="login"><%= link_to 'Sign Out', sessions_path, method: :delete %></li>
        <li class="login" id="fave"><%= link_to "\u2665", user_favourites_path(current_user) %> </li>
        <li class="login">
          <%= link_to current_user.first_name.titleize, edit_user_path(current_user)%>
        </li>

        <% else  %>
        <li class="login"><%= link_to 'Sign In', new_session_path %></li>
        <li class="login"><%= link_to 'Sign Up', new_user_path %></li>
        <% end %>
      </ul>


    </nav>

    <div class="content">
      <%= notice || alert %>
      <%= yield %>
    </div>

  </body>
</html>
